<%= render 'layouts/header' %>

<% provide(:title,"پروازهاب:‌ سرویس  پروازهاب")%>
<% provide(:description,"پروازهاب:‌ درباره‌ی ما") %>

<div style="width:90%; direction:rtl;margin:auto">
	<div class="web-font article" style="padding-top:2em;">
		<h4>سلام!</h4>
		<p>
به زودی
		</p>
		

	</div>
</div>

<%= render 'layouts/footer' %>
