<%= render 'layouts/header' %>

<% provide(:title,"پروازهاب:‌ درباره‌ی ما")%>
<% provide(:description,"پروازهاب:‌ درباره‌ی ما") %>

<div class="article">
	<div class="web-font article" style="padding-top:2em;">
		<h4>قوانین</h4>
        <p>
            پروازهاب یک شرکت خصوصی است که تنها وظیفه‌ی جمع‌آوری اطلاعات پروازی را بر عهده دارد. 
            <br/>
            مسئولیت خرید از هرکدام از سایت‌های لیست شده در پروازهاب به عهده‌ی خریدار است.        
        </p>
    </div>
</div>
