<%= render 'layouts/header' %>

<% provide(:title,"شرایط استفاده و قوانین | پروازهاب")%>
<% provide(:description,"پروازهاب:‌ درباره‌ی ما") %>

<div class="article">
    <div class="web-font article" style="padding-top:2em;">
    موارد ذکر شده در این بخش شامل قوانینی است که ما در وبسایت ها، برنامه های موبایل و تمام سرویس های ارایه شده توسط پروازهاب اجرا می کنیم.
        <br/>
        <br/>    
        <h4>خلاصه</h4>
        <p>
        پروازهاب یک شرکت خصوصی است که تنها وظیفه‌ی جمع‌آوری اطلاعات پروازی را بر عهده دارد. 
        <br/>
        مسئولیت خرید از هرکدام از سایت‌های لیست شده در پروازهاب به عهده‌ی خریدار است.        
        </p>

        <h4>بیشتر</h4>
        <p>
            توجه داشته باشید کلیه اصول و رویه‏‌ها منطبق با قوانین جمهوری اسلامی ایران و قانون تجارت الکترونیک است. 
            در صورتی که در قوانین مندرج، رویه‏‌ها و سرویس‏‌های پروازهاب تغییراتی در آینده ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود و شما توافق می‏‌کنید که استفاده شما از پروازهاب به معنی پذیرش هرگونه تغییر است.
        </p>
        <p>
        اطلاعاتی که در پروازهاب موجود است توسط خزشگرها از فروشگاه های اینترنتی معتبر (دارای نماد اعتماد الکترونیکی) جمع آوری شده است و تضمین نمی کند که اطلاعات نمایش داده شده بدون اشتباه باشند.
همچنین از زمانی که کاربر توسط پروازهاب به سایت های دیگر هدایت می شود، هیچگونه مسیولیتی را در خصوص مطالب ارایه شده بر عهده نمی گیرد. مثلا اگر در وبسایتی اطلاعات اشتباه بود، پروازهاب هیچ مسولیتی بر عهده نمی گیرد.
        </p>
        <p>
        تمام خرید هایی که انجام می شود، مستقیما توسط خود فروشگاه ها و در وبسایت آنها انجام می پذیرد و پروازهاب از هیچکدام از آنها آگاهی ندارد. 
        تمام اشتباهات و مشکلاتی که در زمان خرید بوجود آمده است، بر عهده ی خود فروشگاه ها است. همچنین تمامی خدماتی که فروشگاه ها ارایه می‌دهند(همانند گارانتی یا پست رایگان) بر عهده‌ی خودشان است و در صورت نقض هر کدام، پروازهاب مسول نمی باشد.
        </p>
    </div>
</div>

<%= render 'layouts/footer' %>

