<% provide(:title,"شرایط استفاده و قوانین | پروازهاب")%>
<% provide(:description,"پروازهاب:‌ درباره‌ی ما") %>

<div class="article">
    <div class="web-font article" style="padding-top:2em;">
    موارد ذکر شده در این بخش شامل قوانینی است که ما در وبسایت‌ها، برنامه‌های موبایل و تمام سرویس‌های ارایه شده توسط پروازهاب اجرا می‌کنیم.
        <br/>
        <br/>    
        <h4>خلاصه</h4>
        <p>
        پروازهاب یک شرکت خصوصی است که تنها وظیفه‌ی جمع‌آوری اطلاعات پروازی را بر عهده دارد. 
        <br/>
        مسئولیت خرید از هرکدام از سایت‌های لیست شده در پروازهاب به عهده‌ی خریدار است.        
        </p>

        <h4>بیشتر</h4>
        <p>
        </p>
        <p>
        اطلاعاتی که در پروازهاب موجود است توسط خزش‌گرها از فروشگاه‌های اینترنتی معتبر (دارای نماد اعتماد الکترونیکی) جمع‌آوری شده است و تضمین نمی‌کند که اطلاعات نمایش داده شده بدون اشتباه باشند.
همچنین از زمانی که کاربر توسط پروازهاب به سایت‌های دیگر هدایت می‌شود، هیچگونه مسئولیتی  در قبال مطالب ارایه شده بر عهده نمی گیرد. برای مثال اگر در وبسایتی اطلاعات اشتباه بود، پروازهاب هیچ مسئولیتی بر عهده نخواهد گرفت.
        </p>
        <p>
        تمام خریدهایی که انجام می‌شود، مستقیما توسط خود فروشگاه‌ها و در وب‌سایت آنها انجام می‌پذیرد و پروازهاب از هیچکدام از آنها آگاهی ندارد. 
        تمام اشتباهات و مشکلاتی که در زمان خرید بوجود آمده است، بر عهده‌ی خود فروشگاه‌ها است. همچنین تمامی خدماتی که فروشگاه‌ها ارایه می‌دهند (همانند گارانتی یا کنسلی) بر عهده‌ی خودشان است و در صورت نقض هر کدام، پروازهاب مسئول نیست.
        </p> 
    </div>
</div>

<%= render 'layouts/footer' %>
