<%= render 'layouts/header' %>

<% provide(:title,"پروازهاب:‌ درباره‌ی ما")%>
<% provide(:description,"پروازهاب:‌ درباره‌ی ما") %>

<div class="article">
	<div class="web-font article" style="padding-top:2em;">
		<h4>سلام!</h4>
		<p>
			داستان ما اینجوری شروع شد که متوجه شدیم برای یک بلیط قیمت‌های مختلفی وجود داره. و بدون هیچ دلیل واضحی ممکنه پول بیشتری برای خرید بلیطی پرداخت کنیم که به آسونی در سایت دیگری در دسترس قرار دارد. تصمیم گرفتیم سرویسی بسازیم که قیمت‌های تمام سایت‌های معتبر را یک‌جا جمع آوری کنه و نمایش بده. پروازهاب اینجوری شکل گرفت.
			و در تیر ۹۶ این سرویس در دسترس قرار گرفت. یعنی پروازهاب الان 
			<span style="color: red">
				<%= (Date.today - "2017-06-22".to_date).to_i %>
				<i class="heart loading icon"></i>
			</span>

			روز از تولدش می‌گذره!
		</p>
		<p>
		پروازهاب فروشنده نیست و قصد هم نداریم در آینده فروشنده بشیم. ما فقط سعی می‌کنیم سریع‌ترین و راحت‌ترین راه پیدا کردن بلیط را اول برای خودمون و بعد برای شما مهیا کنیم.
		</p>


		<h4 class="article-title">پروازهاب چطور کار می‌کنه؟</h4>
		<p>
			دراین لینک نوشتیم که 
			<%= link_to "چطوری کار می‌کنیم و چه سرویس‌هایی ", our_service_path %>
			داریم.
		<p>

		<h4>منبع درآمد ما کجاست؟</h4>
		<p>
            ما به ازای کلیک کاربران و یا تبلیغات درآمد کسب می‌کنیم. برای ما هیچ فرقی نمی‌کند که کاربر از کدام سایت خرید می‌کند. چیزی که برای ما اهمیت دارد فقط تجربه کاربری راحت پروازهاب است.
        </p>

		

		<h4 class="article-title">بدون همراهی شما پروازهابی وجود نداشت</h4>
		<p>
		 متشکریم از غزل، حسام و هلیا<br>
		متشکریم از تیم فوق‌العاده<a href="https://www.abarcloud.com/"> ابرکلود</a><br>
		متشکریم از جادی به خاطر <a href="https://jadi.net/2017/08/mondays139605/">معرفی ما </a><br>
		متشکریم از تیم دیجیاتو برای <a href="http://digiato.com/article/2017/08/28/%D9%BE%D8%B1%D9%88%D8%A7%D8%B2%D9%87%D8%A7%D8%A8-%D8%AC%D8%B3%D8%AA%D8%AC%D9%88-%D9%88-%D9%85%D9%82%D8%A7%DB%8C%D8%B3%D9%87-%D8%A8%D9%84%DB%8C%D8%AA-%D9%BE%D8%B1%D9%88%D8%A7%D8%B2/">مقاله‌ای که در مورد ما نوشتن</a><br>
		متشکریم از <a href="https://channelbpodcast.com/">علی بندری و کانال بی </a><br>
		متشکریم از تیم هفته‌نامه شنبه به خاطر <a href="http://shanbemag.ir/magazins/84/mobile/index.html?utm_content=bufferb0337&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer#p=4">گزارشی که از ما تهیه کردند</a><br>
		متشکریم از حسین به خاطر کمک‌ش در شروع کارمون و با آرزوی موفقیت تیم‌شون در  <a href="https://www.gashtano.com/">گشتانو</a><br>
		متشکریم از صابر راستی‌کردار به خاطر   <a href="http://rastikerdar.github.io">فونت زیبای صمیم</a><br>

		و متشکریم از همه‌ی کسانی که پروازهاب رو به بقیه معرفی کردند.<br>

		<p>

		<h4 class="article-title">تماس با ما</h4>
		<p>
			همیشه از طریق ایمیل salam@parvazhub.com در دسترس هستیم. 
			در 
			<a href="https://twitter.com/Parvazhub_com">اکانت توییتر پروازهاب</a> هم گاهی از اخبار خودمون و آپدیت‌ها می‌نویسیم.
		<p>

	</div>
</div>
<%= render 'layouts/footer' %>
