---
http_interactions:
- request:
    method: get
    uri: https://ghasedak24.com/api/GetAllFlights/?cs=1&from=THR&fromDate=2021/01/01&password=1234&to=MHD&toDate=2021/01/01&userName=sepehr
    body:
      encoding: UTF-8
      string: from=THR&to=MHD&fromDate=2021/01/01&toDate=2021/01/01&userName=sepehr&password=1234&cs=1
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "status": 200,
            "state": "Success",
            "message": "The request has been fulfilled",
            "total_count": 52,
            "data": [
                {
                    "FlightNo": "1081",
                    "FlightDate": "2021-01-01T06:05:00",
                    "ArrivalDate": "2021-01-01T07:30:00",
                    "FlightDuration": "01:25",
                    "Price": 4806000,
                    "Capacity": "9",
                    "CabinType": "economy",
                    "Airline": "W5",
                    "Airplane": "",
                    "Origin": "THR",
                    "Destination": "MHD",
                    "ReserveLink": "https:\/\/ghasedak24.com\/reservation\/entries\/19126994?adl=1&chd=0&inf=0",
                    "AgencyUrl": null,
                    "ReserveType": 1,
                    "Type": "1"
                },
                {
                    "FlightNo": "1081",
                    "FlightDate": "2021-01-01T06:05:00",
                    "ArrivalDate": "2021-01-01T07:30:00",
                    "FlightDuration": "01:25",
                    "Price": 9455000,
                    "Capacity": "3",
                    "CabinType": "business",
                    "Airline": "W5",
                    "Airplane": "",
                    "Origin": "THR",
                    "Desti[...]
