	<div style="text-align: right"><i class="close big icon"></i></div>
	<table class="ui teal table rtl">
		<tbody>
			<% @flight_prices.each do |flight|  %>
				<tr class="center aligned very basic">
					<td><%= supplier_logo_for flight.supplier %></td>
					<!--<td><% flight.supplier %></td>-->
					<td><%= number_with_delimiter(flight.price)+" تومان" %></td>
					<td>
						<%= link_to "خرید", flight.deep_link, class: "ui teal label big flight-price", target: '_blank'  %>
						<span style="font-size:x-small"><%=  time_ago_in_words(flight.created_at) %></span>

					</td>
				</tr>
			<% end %>
		</tbody>		
	</table>
	<div class="ui cancel button web-font">بازگشت به لیست پروازها</div>

