<% provide(:title,"User Search stats") %>
<div class="ui container" style="margin-top: 2em">
<table class="ui celled striped table ">
	<thead>
		<tr class="center aligned">
  			<th><h4>route</h4></th>
  			<th><h4>count</h4></th>
  		</tr>
  	</thead>
	<tbody>
		<% @routes_count_hash.each do |item|  %>
		<tr class="center aligned">
			<td><%= item[0] %></td>
			<td><%= item[1] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<table class="ui celled striped table ">
<thead>
    <tr class="center aligned">
          <th><h4>days to flight</h4></th>
          <th><h4>count</h4></th>
      </tr>
  </thead>
<tbody>
    <% @dates_count.each do |item|  %>
    <tr class="center aligned">
        <td><%= item[0] %></td>
        <td><%= item[1] %></td>
    </tr>
    <% end %>
</tbody>
</table>
</div>