<div class="ui basic modal" style="left: initial;text-align: center;" id="contact_us_modal">
    <div style="text-align: right" class="contact_us_modal_close" onclick="localStorage.setItem('contact_us_modal', 'close');"><i class="close big icon"></i></div>
    <div style="background:white; padding:2em;line-height:2em;font-size: 1.2em;color: #2d3c3a;direction: rtl;text-align: right;"> 
        <i class="compass big green icon"></i>    
        <span style="color:green">
            شما جواب سوال‌های ما را می‌دانید
        </span>
        <br>
      
        اگر شصت ثانیه وقت دارید و علاقه دارید ما سرویس بهتری ارائه کنیم به 
        <a href="https://goo.gl/forms/qgBkmzkN7CQCpI9Y2" target="_blank"> این صفحه </a>
        بروید و جواب فقط چهار سوال را بدهید. 
        ممنونیم :‌)
            
        <br> <br>
        <button class="ui button web-font contact_us_modal_close" onclick="localStorage.setItem('contact_us_modal', 'close');">
                بستن این پنجره        
            </button>
        
</div>

</div>

<script>
jQuery(window).load(function () {
    if (localStorage.getItem("contact_us_modal")!='close'){
        setTimeout("show_modal()", 120000);
    }
});
function show_modal(){
    $('#contact_us_modal')
        .modal('setting', 'closable', true)
        .modal('show')
        .modal('attach events', '.contact_us_modal_close', 'hide')
}
</script>