<%= render 'layouts/header' %>
<% provide(:canonical,"<link rel=\"canonical\" href=\"http://parvazhub.com/flights/#{@search_parameter[:origin_english_name]}-#{@search_parameter[:destination_english_name]}\"/> ".html_safe)%>

<% provide(:title,"بلیط  #{@search_parameter[:destination_persian_name]} | پرواز #{@search_parameter[:origin_persian_name]} #{@search_parameter[:destination_persian_name]} #{@search_parameter[:date_in_human]} | پروازهاب")%>
<% provide(:description,"لیست ارزان‌ترین قیمت‌های بلیط #{@search_parameter[:destination_persian_name]}. تمام پروازهای چارتری و سیستمی پرواز #{@search_parameter[:origin_persian_name]} به #{@search_parameter[:destination_persian_name]}  #{@search_parameter[:date_in_human]} سایت‌های معتبر را در پروازهاب ببینید") %>

<div class="ui container" id="search-results-container">
	<div class="ui grid" id="results-message">
  		<div class="one column row">
    		<div class="column">
				<div class="results-header">
					<i class="plane icon"></i> 
					<%= @search_parameter[:origin_persian_name] %>
				  	به	 
				 	<%= @search_parameter[:destination_persian_name] %> 
					 <%= @search_parameter[:date].to_date.to_parsi.strftime "%A %-d %B"   %>
					   
					<a class="light-yellow ui primary basic blue" onclick="$('#search-box-inner').transition('slide');" style="cursor:pointer; padding-left:5px; font-size:0.8em;">
						<i class="yellow chevron down icon"></i> تغییر شهر/تاریخ
					</a>
				</div>
				<div style="font-size:0.8em">
					<a class="light-yellow" href="<%= route_page_path(@search_parameter[:origin_english_name],@search_parameter[:destination_english_name]) %>">
						<i class="yellow line chart icon"></i> مقایسه قیمت در تمام ماه
					</a>
					     
					<a style="margin-right:12px;"class="light-yellow" href="<%= flight_result_path(@search_parameter[:destination_english_name], @search_parameter[:origin_english_name],@search_parameter[:date]) %>">
						<i class="yellow sync icon"></i> مشاهده پروازهای برگشت
					</a>
				</div>

		 	</div>
		</div> 	
	</div>

	<div class="ui" id="search-box-inner">
		<%= form_for(:search, url: flight_search_path, method: :get, html: {id:"flight_search"}) do |f| %>
			<div class="ui form">
				<div class="four fields">
					<div class="field input-container">
						<label class="search-label">از</label>
						<%= f.text_field :originـfield,{:class =>'origin-field typeahead dir-rtl web-font',placeholder: "مبدا (شهر فارسی یا انگلیسی)", value:@search_parameter[:origin_persian_name]} %>			
						<%= f.hidden_field :origin,{:id =>'origin',value:@search_parameter[:origin_english_name]} %>
					</div>
					<div class="field input-container">
						<label class="search-label">به</label>
						<%= f.text_field :destination_field,{:class =>'destination-field typeahead dir-rtl web-font',placeholder: "مقصد (شهر فارسی یا انگلیسی)",value:@search_parameter[:destination_persian_name]} %>
						<%= f.hidden_field :destination,{:id =>'destination',value:@search_parameter[:destination_english_name]} %>
					</div>
					<div class="field ui calendar">
						<div class="ui input left icon">
							<i class="calendar icon"></i>
							<%= f.text_field :date_shamsi, {id: 'date-picker', class:'form-control web-font', value: @search_parameter[:date], readonly: 'readonly', autocomplete: 'off'} %>
							<%= f.text_field :date, {id: 'date-picker-field'} %>
						</div>
					</div>
					<div class="field center aligned">
						<%= f.submit "جستجوی مجدد", class: "ui submit web-font yellow button  fluid waiting-modal" %>
					</div>
				</div>
			</div>
		<%end%>
	</div>

	<div class="ui mini five statistics" id="flight-price-table" >
	  <% @flight_dates.each do |flight_date|%>
	  	<div class=" grey statistic">
		  <div class="valuee">
			  <%= link_to(price_to_human(flight_date[:price]), search_link_builder(@search_parameter[:origin_english_name],@search_parameter[:destination_english_name],flight_date[:date]))   %> 
		  </div>
		  <div class="label statistic-label  web-font">
		  	<%= link_to(day_name(flight_date[:date],@search_parameter[:date]), search_link_builder(@search_parameter[:origin_english_name],@search_parameter[:destination_english_name],flight_date[:date]))   %>
		  </div>
	   	</div>
	  <% end %>
	</div>

	<% unless @flights.empty? %>
	<table class="ui blue table unstackable sortable rtl" id="flight-prices">
	  	<thead>
			<tr class="center aligned web-font">
	  			<th class="table-header">ایرلاین</th>
	  			<th class="table-header">ساعت </th>
	  			<th class="table-header nm">هواپیما</th>
	  			<th class="table-header sorted ascending">قیمت</th>
	  		</tr>
	  	</thead>
		<tbody>
			<% @flights.each do |flight|  %>
				<% unless ((flight[:best_price] == 0) or (flight[:supplier_count] == 0))  %>
					<tr class="center aligned very basic" >
						<td class="left aligned">
							<div class="two fields">
								<div class="field">
									<a href="<%= flight_prices_path(@search_parameter[:origin_english_name],@search_parameter[:destination_english_name],@search_parameter[:date],flight[:id]) %>" data-remote="false">														
										<h5 class="ui image header web-font">
											<%= airline_logo_for flight[:airline_code] %> 
											<span class="content" style="font-size:0.9em">
												<%= flight[:airline_persian_name].nil? ? flight[:airline_english_name] : flight[:airline_persian_name] %>
												<span class="ui tiny rating">
											    </span>
												<span class="sub header" style="margin-top: 7px">
													<span class="nm"><%= flight[:flight_number].split(",").first %></span>
													<span class="mobile-only"><%= flight[:airplane_type].blank? ? "" : airplane_name_for(flight[:airplane_type]) %></span>													
												</span>
											</span>
										</h5>
									</a>
								</div>
								<div class="field">
									<div class="mini ui basic  web-font rate-button dir-rtl text-right" data-content="امتیاز کاربران به <%= flight[:airline_persian_name] %>. برای ثبت کلیک کنید" >
										<a href="<%= airline_review_page_path(flight[:airline_english_name]) %>" >
											<%= get_star_icon(5,flight[:airline_rate_average],"green","small").html_safe %>
										</a>
									</div>	
								</div>
							</div>
							<% if @search_parameter[:international] %>
								<div style="font-size: 0.8em;color: #797777;">
									<i class="ticket icon"></i>
									<%= stop_to_human flight[:stops]  %>
								</div>
							<% end %>	
						</td>
						<td>
							<div class="content" style="font-size: 0.9em;color: #1d1c1c;">
								<i class="plane grey icon"></i>	
								<%= hour_to_human flight[:departure_time].to_datetime.strftime("%H:%M") %>  
								<% unless flight[:arrival_date_time].nil? %>
									<div style="width:100%; margin-top:5px;border-top: 1px dashed #eee;padding-top:6px;">
										<i class="vertically flipped plane  grey icon"></i>
										<%= hour_to_human flight[:arrival_date_time].to_datetime.strftime("%H:%M")  %>
									</div>
								<% end %>
				            	<div class="sub header" style="margin-top: 7px;color: gray;font-size: 0.8em;">
									<%= (delay_to_human flight[:delay]) %>
				          		</div>
							</div>
							<% if @search_parameter[:international] %>
							<div style="font-size: 0.8em;color: #797777;">
								<i class="wait icon"></i>
								کل زمان سفر <%= trip_duration_to_human flight[:trip_duration] %>
							</div>
						<% end %>	
						</td>
						<td class="nm">
							<%= flight[:airplane_type].blank? ? "-" : airplane_name_for(flight[:airplane_type]) %>
							
							
						</td>
						<td>
							<div class="hide">
								<%= number_with_zero(flight[:best_price]) %>
							</div>
							<a href="<%= flight_prices_path(@search_parameter[:origin_english_name],@search_parameter[:destination_english_name],@search_parameter[:date],flight[:id]) %>" data-remote="false">	
								<button class="ui submit yellow web-font fluid right labeled icon button flight-price-button" style="padding-right: 0 !important;">
									<i class="right arrow icon"></i> از	
									<span class="white"><%= "#{number_with_delimiter(flight[:best_price])} تومان " %></span>
								</button>
							</a>
							
							<div class="suppliers-count">	
								<a href="<%= flight_prices_path(@search_parameter[:origin_english_name],@search_parameter[:destination_english_name],@search_parameter[:date],flight[:id]) %>" data-remote="false" style="color:black">	
									 ارزان‌ترین قیمت بلیط از <b><%= flight[:supplier_count] %></b> سایت 
								</a>
							</div>
						</td>
					</tr>
					
				<% end %>	
			<% end %>
		</tbody>
	</table>
	<% end %>

	<% if @flights.empty? %>
	  	<div class="standard-text" style="background:white;padding-top:2em;margin:2em;direction:rtl">
		
			<i class="blue info circle  icon big"></i>	
			<% if @search_parameter[:date].to_date < Date.today %>
				امروز 
				<%= Date.today.to_date.to_parsi.strftime "%A %-d %B"   %> 
				است. تاریخ پرواز را از لینک‌های پایین انتخاب کنید:
			<% else %>
			پروازی در روز 
			<%= @search_parameter[:date].to_date.to_parsi.strftime "%A %-d %B"   %> 
			موجود نیست. و یا ظرفیت پرواز پر شده است.
			پرواز برای تاریخ‌های زیر را چک کنید:	
			<% end %>
			
			<ul>
				<% @flight_dates.each do |flight_date|%>
					<% unless flight_date[:date] == @search_parameter[:date].to_s %>
					
					<li>
						<% link_text = "جستجوی پرواز #{@search_parameter[:origin_persian_name]} به #{@search_parameter[:destination_persian_name]} "+flight_date[:date].to_date.to_parsi.strftime("%A %-d %B ") %>
						<%= link_to(link_text, search_link_builder(@search_parameter[:origin_english_name],@search_parameter[:destination_english_name],flight_date[:date]))   %>
					</li>
					<% end %>
				<% end %>
			</ul>
			اگر همچنان موفق به پیدا کردن پرواز مورد نظرتان نشدید، صفحه‌ی  
			<%= link_to "پروازهای #{@search_parameter[:origin_persian_name]} به #{@search_parameter[:destination_persian_name]}", route_page_path(origin_name:  @search_parameter[:origin_english_name],destination_name: @search_parameter[:destination_english_name], :anchor => "city-calendar"),class:"city-page-link" %> روی تقویم را ببینید.

			<h5 class="web-font">
			<i class="blue info circle  icon big"></i>	
			
				چه روزهایی
				<%= " #{@search_parameter[:origin_persian_name]} به  #{@search_parameter[:destination_persian_name]}" %> 
				پرواز دارد؟
			</h5>
			<% unless @route_days.empty? %>
				<% @route_days.each do |day|   %>
					<%= week_day_to_human_persian day  %>
				<% end %>
			<% else %>
				برای هیچ روزی در هفته پروازی در این مسیر وجود ندارد.
			<% end %>
		
		</div>	
	<% end %>

	<%= render :partial => "route/price_chart", :locals => {prices: @prices, origin: @search_parameter[:origin_persian_name], destination: @search_parameter[:destination_persian_name] } %>

</div>

<div class="ui basic modal prices">
      <p id="prices-modal-content"></p>
</div>
<script>
	$('table').tablesort();
	$('.rate-button').popup();
</script>
<%= render 'layouts/searchbox-helper', date_picker_inline: false %>   
<%= render 'layouts/footer' %>
