/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 */ 
@import "semantic-ui";
@import "semantic-ui/collections/menu";
@import "rtlcss";
@import "persian-datepicker-0.4.5.min";
/* this is georgian calendar: calendar.min */

@font-face{
  font-family:"samim";
  font-weight:400;
  src:font-url("samim.eot");
  src:font-url("samim#iefix") format("embedded-opentype"),
  font-url("samim.woff") format("woff"),
  font-url("samim.ttf") format("truetype"),
  font-url("samim.ttf") format('svg');
}
/* helper */
.standard-text{
  direction: rtl;
  line-height: 2em;
}
.text-left{
  text-align:left !important;
}
.text-right{
  text-align:right !important;
}
.text-center{
  text-align: center;
  width: 100%;
}
.full-width{
  width:100% !important;
}
.yellow{
  color:#FBBD08
}
.mobile-only{
  display: none;
}
.inline-block{
  display: inline-block !important;
}
.block{
  display: block !important;
}
.dir-rtl{
  direction: rtl;
}
.hide{
  display: none
}
.white{
  color: white !important;
}
.light-yellow{
  color: #f7efc3;
}

/* general */
.alert{
  direction: rtl;
  padding: 1em;
  border-radius: 5px;
}

.success{
  background: #d0dcd0;  
}

.field_with_errors{
  width: 100%;
    border: 1px solid red;
    border-radius: 5px;
}
#error_explanation{
  direction: rtl !important;
  color: gray;
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: yellow;
}
.web-font{
  font-family:"samim" !important;
}
body, h1, h2, h3, h4{
  font-family:"samim" !important;
}
.rtl {
  direction:rtl;
}
table.ui.very.basic.striped.table > thead > tr > td > h4{
  color: teal;
}
#company-name{
  padding-left:5px;
  font-weight:bold;
  color:white;
}
.disable{
  background-color:#eee;
}

/* fix for rtl semantic */
.ui.form .field > .selection.dropdown > .dropdown.icon {
    float: left;
    text-align: left !important;
}

/* header */
#header{
  direction: rtl;
  font-family: samim;
  font-size: 1.4em;
  color: white;
  background:#29aae1;
  padding: 0.6em;
  border-top: 1px solid #19759c;
  padding-bottom: 0 !important;
  width:100%
}
header{
  background: #29aae1
}

/* first page */
.masthead.segment {
  min-height:700px;
}
#cover-photo{
	/*background-image: url(/assets/first-page/11.png);*/
  background-color:#29aae1;
  background-size: cover;
  background-position: center;
}
#slogan{
  margin-top: 3%;
  font-size: 1.3em;
  margin-bottom: 2%
}
#slogan-text{
  font-family: samim !important;
  color: white;
  font-size: 150%;
}
#slogan-description{
  background-image: url(/assets/opacity-backgrounds/black20p.png); 
  background-repeat: repeat;
}
.city-page-link{
  color: #eaae00;
  text-decoration:underline;
}
/* search box */
#search-box{
/* background-image: url(/assets/opacity-backgrounds/white70p.png); 
   background-repeat: repeat;
*/
}
#date-picker-field{
  display:none;
}
#search-box-inner{
  display:none;
  direction: rtl;
  text-align: center;
  padding:1em;
  border-top: 1px #26a1d6 solid;
  background: #26a1d6;
}
.search-box-label{
  color:white !important; 
}


/* Footer links */

#cafe-bazaar{
  width: 150px;
}
.footer-link{
  display: block;
  text-decoration: none;
  color: #eaae00;
  line-height: 2.3em;
  font-size: 0.8em;
}

/* telegram */
.telegram-icon{
  width: 30px;
  height: 30px;
}
.telegram-announce{
  vertical-align: text-top;
  color:white;
}
.telegram-container{
  padding: 2.5em 0 2.5em 0;
  border-top: 1px solid #eee;
  width: 80%;
  margin: auto;
  border-bottom: 1px solid #eee;
  margin-bottom: 2em;
}
.telegram-button{
  display: block !important;
  margin: auto !important;
  margin-top: 1.5em !important;
}

/* nag */
.nag-box{
  width:100%;
  padding:14px 0 24px 0; 
  background: #397a96;
  height: auto;
  color: white; 
  direction:rtl;
  display: none;
}
.nag-close{
  text-align:right;
  width:5%;
  vertical-align:top; 
  padding-right:12px; 
  cursor:pointer;
  display: inline-block;
}
.nag-text{
  width:90%; 
  text-align:center;
  display: inline-block;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .mobile-only{
    display: inline-block;
  }
}


/* loader */
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #29aae1;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}


/* twitter typeahead */
.suggestion-title{
  font-size: 0.6em;
  text-align: center;
  color: #000000;
}
.twitter-typeahead{
  width: 100%;
}
.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-family: "samim";
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
width: 100%;
margin-top: 1px;
padding: 8px 0;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 8px;
box-shadow: 0 5px 10px rgba(0,0,0,.2);
text-align: right;
direction:rtl;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: red;
}


.tt-suggestion {
  font-size: 0.8em;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  padding: 0.5em !important;
  margin: 0 !important;
}
.tt-suggestion:hover{
  background: #b3d9e8;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #b3d9e8;
  
  }
.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  color: #fff;
  background-color: #b3d9e8;

}

.tt-suggestion p {
  margin: 0;
}



