@import "semantic-ui";
@import "semantic-ui/collections/menu";
@import "rtlcss";
@import "persian-datepicker-0.4.5.min";
/* this is georgian calendar: calendar.min */

@font-face{
  font-family:"samim";
  font-weight:400;
  src:font-url("samim.eot");
  src:font-url("samim#iefix") format("embedded-opentype"),
  font-url("samim.woff") format("woff"),
  font-url("samim.ttf") format("truetype"),
  font-url("samim.ttf") format('svg');
}
/* helper */
.text-left{
  text-align:left !important;
}
.text-right{
  text-align:right !important;
}
.full-width{
  width:100% !important;
}
.yellow-text{
  color:#FBBD08
}

/* general */
.field_with_errors{
  width: 100%;
    border: 1px solid red;
    border-radius: 5px;
}
#error_explanation{
  direction: rtl !important;
  color: gray;
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: yellow;
}
.web-font{
  font-family:"samim" !important;
}
body, h1, h2, h3, h4{
  font-family:"samim" !important;
}
.rtl {
  direction:rtl;
}
table.ui.very.basic.striped.table > thead > tr > td > h4{
  color: teal;
}
#company-name{
  padding-left:5px;
  font-weight:bold;
  color:white;
}
.disable{
  background-color:#eee;
}

/* fix for rtl semantic */
.ui.form .field > .selection.dropdown > .dropdown.icon {
    float: left;
    text-align: left !important;
}

/* header */
#header{
  direction: rtl;
  font-family: samim;
  font-size: 1.4em;
  color: white;
  background:#29aae1;
  padding: 0.6em;
  border-top: 1px solid #19759c;
  padding-bottom: 0 !important;
}

/* first page */
.masthead.segment {
  min-height:700px;
}
#cover-photo{
	/*background-image: url(/assets/first-page/11.png);*/
  background-color:#29aae1;
  background-size: cover;
  background-position: center;
}
#slogan{
  margin-top: 3%;
  font-size: 1.3em;
  margin-bottom: 2%
}
#slogan-text{
  font-family: samim !important;
  color: white;
  font-size: 150%;
}
#slogan-description{
  background-image: url(/assets/opacity-backgrounds/black20p.png); 
  background-repeat: repeat;
}
.city-page-link{
  color: #eaae00;
  text-decoration:underline;
}
/* search box */
#search-box{
/* background-image: url(/assets/opacity-backgrounds/white70p.png); 
   background-repeat: repeat;
*/
}
#date-picker-field{
  display:none;
}
#search-box-inner{
  display:none;
  direction: rtl;
  text-align: center;
  padding:1em;
  border-top: 1px #26a1d6 solid;
}
.search-box-label{
  color:white !important; 
}


/* Search Results */
#search-results-container{
  width: 70%;
  margin-top: 1em;
}
.airline-logo{
  width:2.5em;
  margin-bottom:7px;
}
.best-price{
  color:green;
  font-weight:bold;
}
.table-header{
  font-weight: normal !important;
  font-family: samim !important;
}
.supplier-logo{
  display:inline !important;
}
.flight-price{
  cursor:pointer;
  line-height: 1.4em !important;
}
/* datepicker */
.header-row-cell, .datepicker-plot-area{
  font-family:samim !important;
}
.datepicker-plot-area{
  box-shadow:none !important;
}

.price-box-text{
  padding-top: 8px;
  padding-bottom: 8px;
  color:black;
  direction:rtl;
}
.price-box-price{
  color:green;
  font-weight:bold;
}
.price-box-image{
}
#results-message{
 direction: rtl;
 padding: 0;
 background: aliceblue;
 margin-left: 0 !important;
 margin-right: 0 !important;
 margin-bottom: 1px;
}

#flight-price-table {
  direction: rtl;
  background: aliceblue;
  padding-top: 1em;
  border-top: 1px solid #eee;
  }
#price-alert-register{
  display:none;
  padding: 1em;
  direction: rtl;
  background: white;
  border-top: 1px #26a1d6 solid;
}
.flight-price-logo{
   
}


/* city pages */
.city-header-image{
  direction: rtl;
  width: 100%;
  background-position: center center;
  padding-top: 12%;
  padding-bottom: 11%;
  background-color:#eee;
  text-align:center;
}
.city-calendar{
  direction:rtl;
  margin-bottom:2em;
}
.city-page-title{
  display: inline-block;
  color: white;
}

/* menu links */
.menu-links{
    color: white;
    font-size: 0.7em;
}
.modal.prices{
  top:10% !important;
  left: initial;
  text-align: center;
  margin-top:0 !important
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
#flight-price-table {
     display:none;
}

.not-mobile, .nm{
  display: none !important;
}
#flight-prices{
  font-size: 0.8em;
}
}
