.home-icon{
	display:block !important;
	color: rgb(41, 170, 225);
	width:100% !important;
	padding-bottom: 1.5em;
}
.home-text{
	line-height: 2em;
	direction:rtl;
}
.home-title{
	display:block;
	text-align:center;
	font-weight:bold;
	font-size: 1.8em;
    color: #29aae1;
    padding-bottom: 0.5em;
}
.home-calendar-title{
	text-align: center;
	color: white;    
	margin-top: 2em;
	padding-top: 1em;
}
.search-label{    
	display: inline-block !important;
	height: 95%;
	padding-top: 5%;
	margin-left: 0;
	width: 4%;
	direction: rtl;
	text-align: right;
	color: white !important;
}