.login-wrapper{
  height:30px;
}
.login-button {
  background: #29aae1;
  border: 0;
  color: #fbbd08;
  font-size: 0.86rem
}
.profile-image {
  border-radius: 15px;
  width: 28px;
  height: 28px;
}
.profile-name {
  display: inline-block;
  vertical-align: text-top;
  font-size: 1rem;
  color: #fbbd08;
}
.login-button-basic {
  background: white;
  border: 0;
  color: #fbbd08;
  font-size: 0.86rem;
  display: inline-block;
}
