.city-header-image{
  direction: rtl;
  width: 100%;
  background-position: center center;
  padding-top: 12%;
  padding-bottom: 11%;
  background-color:#eee;
  text-align:center;
}
.city-calendar{
  direction:rtl;
  margin-bottom:2em;
}
.city-page-title{
  display: inline-block;
  color: white;
}

/* menu links */
.menu-links{
    color: white;
    font-size: 0.7em;
}
.modal.prices{
  top:10% !important;
  left: initial;
  text-align: center;
  margin-top:0 !important
}
.wide-search-box{
	direction:rtl;
	padding: 2em;
  background: #29aae1;
  margin-top: 1em;
}
.city-header{
	width: 100%;
    color: white;
    line-height: 1.5em;
}

/* button links */
.page-button-links{
  margin: 0.5em !important;
  font-size: 1em !important;
  width: 50% !important;
  line-height: 2em !important;
}
#city-page-search-box{
  display: none;
}

.city-page-search-form{
  width: 50%;
  margin: auto;
  padding-top: 1em;
}
.city-page-toggle-box{
  color:white; 
  text-decoration:underline; 
  display:block; 
  width:100%; 
  margin:1em;
  cursor:pointer
}
.link-dates-button{
  line-height: 2em !important;
}
.route-calendar-date{
  font-size: 1.1em;
}
.route-calendar-price{
  font-size: 0.8em;color: #4e4e4e;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .city-page-search-form{
    width: 90%;
  }
  .page-button-links{
    width: 90% !important;
  }
  .route-calendar-box{
    border-bottom:1px solid #eee; 
    padding-bottom:5px;
  }
  .route-calendar-price{
    font-size: 1em;
    padding: 8px;
  }
}
  
