#search-results-container{
  width: 70%;
  margin-top: 1em;
}
.airline-logo{
  width:2.5em;
  margin-bottom:7px;
}
.best-price{
  color:green;
  font-weight:bold;
}
.table-header{
  font-weight: normal !important;
  font-family: samim !important;
}
.supplier-logo{
  display:inline !important;
}
.flight-price{
  cursor:pointer;
  line-height: 1.4em !important;
}
/* datepicker */
.header-row-cell, .datepicker-plot-area{
  font-family:samim !important;
}
.datepicker-plot-area{
  box-shadow:none !important;
}

.price-box-text{
  padding-top: 8px;
  padding-bottom: 8px;
  color:black;
  direction:rtl;
}
.price-box-price{
  color:green;
  font-weight:bold;
}
.price-box-image{
}
#results-message{
 direction: rtl;
 padding: 0;
 margin-left: 0 !important;
 margin-right: 0 !important;
 margin-bottom: 1px;
 margin-top: 1.5rem;
 color:white;
 background: #29aae1;
}
.results-header{
  width: 100%;
    margin-bottom: 6px;
    border-bottom: 1px solid #51beec;
    padding: 0 0 8px 0;
    margin: 0 0 8px 0;
}

#flight-price-table {
  direction: rtl;
  background: aliceblue;
  padding-top: 1em;
  border-top: 1px solid #eee;
  }
#price-alert-register{
  display:none;
  padding: 1em;
  direction: rtl;
  background: white;
  border-top: 1px #26a1d6 solid;
}
.flight-price-button{
  width:65% !important;
  margin:auto !important;    
  padding-right: 0 !important;
  font-size: 1em !important;
}
.suppliers-count{
  width:100%; 
  padding:0.5em; 
font-size: 0.8em;
}

.flight-price-route{
  text-align: right;
  padding: 1em;
  font-size: 1.5em;
  direction: rtl;
}
.statistic > .valuee{
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* #flight-price-table {
      display:none;
  } */
  .statistic > .valuee{
    font-size: 1rem !important;
  }
  .statistic-label{
    font-size: 0.6rem !important;
  }

  .not-mobile, .nm{
    display: none !important;
  }
  #flight-prices{
    font-size: 0.8em;
  }
  .flight-price-button{
    width:100% !important;
  }
}