<div <div class="ui inverted vertical footer segment" style="margin-top: 2em">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="column center aligned">
          All rights reserved for Parvazhub - 2017 - v.1.1.1 | salam [at] parvazhub [dot] com
        </div>
      </div>
    </div>
  </div>

 