<header>
  <div class="ui grid" id="header">
    <div class="two column row">
      <div class="right floated left aligned column">
        <%= render 'layouts/login_widget' %>
      </div>
      <div class="left floated right aligned column">
        <a href="/">
    	  <div class="item">
            <span id="company-name">پروازهاب</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</header>
