<div style='background: #fbbd08;height: 40px;width: 100%;text-align: right;padding:10px; margin-bottom: 13px; direction: rtl;'>
پروازهاب تا انتهای آذر  فعال خواهد بود. از شما که با پروازهاب همراه بودید ممنونیم.
تماس  با ما از طریق  salam@parvazhub.com
</div>
<header>
	<div class="ui grid" id="header">
  		<div class="two column row">
    		<div class="right floated left aligned column">
    			<a href="/">
    				<div class="item">
      					<!--<i class="circle notched icon" style="color: white"></i>-->
						  <span id="company-name">پروازهاب</span>
    				</div>
  				</a>
    		</div>
			<div class="left floated right aligned column">
				<a class="header-language" href="<%= en_home_path %>">
					English
				</a>
    			<%#= render 'devise/menu/registration_items' %>
    			<%#= render 'devise/menu/login_items' %>
    		</div>
    		
  		</div>
	</div>
</header>


   <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>  -->
