
<header>
<div class="ui stackable menu">
  <a href="/">
    <div class="item">
      <i class=" circle notched  big icon teal"></i>
    </div>
  </a>
  <a class="item">Sign-in</a>
</div>
</header>
  




   