<header>
<div class="ui" id="header">
  <a href="/">
    <div class="item">
      <i class="circle notched icon" style="color: white"></i>
      <span id="company-name">پروازهاب</span>
    </div>
  </a>
  <!--<a class="item">Sign-in</a>-->
</div>
</header>