
<header>
<div class="ui stackable menu">
  <a href="/">
    <div class="item">
      <%=image_tag("dolphin-96-orange.png", {alt: "dolphine flight search", style: "width:7%"})%>
      <span id="company-name">Dolphin Flight Search And Compare</span>
    </div>
  </a>
  <!--<a class="item">Sign-in</a>-->
</div>
</header>
  




   