<header>
	<div class="ui grid" id="header">
  		<div class="two column row">
    		<div class="right floated left aligned column">
    			<a href="/">
    				<div class="item">
      					<!--<i class="circle notched icon" style="color: white"></i>-->
						  <span id="company-name">پروازهاب</span>
    				</div>
  				</a>
    		</div>
			<div class="left floated right aligned column">
				<span style="font-size:0.6em;padding-top:7px">
					<% i = rand(1..6) %>
		  			<img style="width: 15px;margin-bottom: -5px;" src="/static/eid/<%= i %>.png"/>
					<%= eid_text i %>
				</span>
    			<%#= render 'devise/menu/registration_items' %>
    			<%#= render 'devise/menu/login_items' %>
    		</div>
    		
  		</div>
	</div>
</header>


   <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>  -->