<div class="login-wrapper">
  <% if @current_user %>
    <%= link_to profile_path do %>
      <%= image_tag @current_user.avatar_url, alt: 'profile image', class: 'profile-image'%>
      <div class='profile-name'><%= @current_user.first_name %></div>
    <% end %>
  <% else %>
    <%= google_sign_in_button proceed_to: create_login_url, class: 'login-button' do %>
      <i class="checked user icon"></i>
      ورود به حساب کاربری
    <% end %>
  <% end %>
</div>
