<script>
$(document).ready(function(){ 
  
<% if @is_mobile %>
  $( ".typeahead" ).click(function() {   //scroll to top  
      $('html, body').animate({
          scrollTop: $(this).offset().top
      }, 1400);  
      $("#sk-container, #sk-messenger-button").hide(); 
  });
  <% end %>

   //typeahead
    var cities = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
      queryTokenizer: Bloodhound.tokenizers.whitespace, 
      identify: function(obj) { return obj.value; },
      prefetch: { url: '<%= api_city_prefetch_suggestion_path %>',cache: false
    },
      remote: {
        url: '<%= api_city_suggestion_path "QUERY" %>',
        wildcard: 'QUERY'
      },
      limit: 10
    });

    function citiesWithDefaults(q, sync, async) {
        if (q === '') {
          sync(cities.all().slice(0, 6)); 		  
        }else {
            cities.search(q, sync, async);
        }
      }
    cities.initialize();

    $('.input-container .typeahead').typeahead({
      hint: false,
      highlight:false,
      minLength: 0,
      autoselect: true,
      limit: 10
      },
      {
          name: 'cities',
          displayKey: 'value',
          source: citiesWithDefaults,
          templates: {
            header: '<h3 class="suggestion-title">از شهرهای پربازدید انتخاب کنید و یا اسم را تایپ کنید</h3>',            
              empty: [
                  '<div style="font-size:0.6em">&nbsp;&nbsp;&nbsp;<i class="teal warning circle icon "></i>',
                  'نام شهر اشتباه است و یا در پروازهاب موجود نیست',
                  '</div>'
              ].join('\n'),
              suggestion: function (i) {
                  return '<p><i class="plane blue icon"></i>' + i.value + 
                  '<span style="font-size: 0.8em;color:gray">  '+i.country + '</span></p>'
              }
          }
      }
  
  );
    $('.origin-field').on('typeahead:select', function (e, datum) {
        $('#origin').val(datum.code); 
        <% if @is_mobile %>
        $('html, body').animate({scrollTop: $('.destination-field').offset().top}, 800);  
        $('.destination-field').focus();
        <% end %>

    });
    $('.destination-field').on('typeahead:select', function (e, datum) {
        $('#destination').val(datum.code);
        <% if @is_mobile %>
        $('html, body').animate({scrollTop: $('#date-picker').offset().top}, 800);            
        $('.destination-field').blur();   
        <% end %>     
    });


  var calnedarIsExist = document.getElementsByClassName("datepicker-plot-area-inline-view").length;
  if (calnedarIsExist == 0) {
    var today_timestamp = Math.round((new Date()).getTime() / 1000);
     $("#date-picker").pDatepicker({
          minDate: new persianDate().subtract('day', 0).valueOf(),
          dayPicker: {scrollEnabled: false},
          monthPicker: {scrollEnabled: false, enabled: false},
          yearPicker: {scrollEnabled: false, enabled: false},
          persianDigit: true,
          format : "dddd - DD MMMM",
          altFieldFormatter : function(unix){
              if (!unix) return '';
              var date =  new Date(unix);
              var day = date.getDate();
              if(day<10) {day = '0'+day};
              var month = date.getMonth() + 1;
              if(month<10) {month = '0'+month} ;
              var year = date.getFullYear();
              return year + '-' + month + '-' + day;
          },
          altField: '#date-picker-field',
          toolbox: {enabled: false},
          navigator: {
              enabled: true,
              scroll: {
                  enabled: false
              },
              text: {
                  btnNextText: ">",
                  btnPrevText: "<"
              }
          },
          autoClose: true,
          inline: <%= date_picker_inline %>,
          calendar: {
              persian: {
                  locale: "fa",
                  showHint: true,
                  leapYearMode: "algorithmic"
                },
              gregorian: {
                  locale: "en",
                }
            },
      }); 
   }

  $("#flight_search").submit(function(event) {
    event.preventDefault();
    let origin = event.target.elements.origin.value
    let destination = event.target.elements.destination.value
    let date = event.target.elements["date-picker-field"].value
    Turbolinks.visit(`/flights/${origin}-${destination}/${date}`)
  });
}); 

  //select input values after focus
  $(function(){
    $(document).on('focus','.tt-input',function(){ this.select(); });
  });

</script>
