<div class="ui basic modal" style="left: initial;text-align: center;font-size: x-large;">
  <div class="description">
      <p>لطفا چند ثانیه صبر کنید. در حال جستجوی پروازها</p>
  </div>   
</div>

<script type="text/javascript">
	$('.ui.basic.modal')
  		.modal({blurring: true})
  		.modal('setting', 'closable', false)
  		.modal('attach events', '.ui.submit.button', 'show');
	$('.ui.dropdown').dropdown(); 
	/*$('#date-picker').calendar({
		type: 'date',
    	formatter: {
    		date: function (date, settings) {
	      		if (!date) return '';
	      		var day = date.getDate();
	      		var month = date.getMonth() + 1;
	      		var year = date.getFullYear();
	      		return year + '-' + month + '-' + day;
    		}
  		}
	});
	*/
	var today_timestamp = Math.round((new Date()).getTime() / 1000);
    $("#date-picker").pDatepicker({
        persianDigit: true,
        /* format : "YYYY - MM - DD", */
        altFieldFormatter : function(unix){
            if (!unix) return '';
            var date =  new Date(unix);
	      		var day = date.getDate();
	      		var month = date.getMonth() + 1;
	      		var year = date.getFullYear();
	      		return year + '-' + month + '-' + day;
        },
        formatter : function(unix){
            if (!unix) return '';
            var date =  new Date(unix);
	      		var day = date.getDate();
	      		var month = date.getMonth() + 1;
	      		var year = date.getFullYear();
	      		return year + '-' + month + '-' + day;
        },
        altField: '#date-picker-field',
        toolbox: {enabled:false},
        navigator: {
            enabled: true,
            text: {
                btnNextText: ">",
                btnPrevText: "<"
            }
        },
        autoClose: true

    });

</script>