<script type="text/javascript">
  $(document).ready(function(){ 
    //scroll to to top
    $( ".city-suggestion" ).click(function() {
        $('html, body').animate({
            scrollTop: $(this).offset().top
        }, 1000);   
    });
    

     //typeahead
      var cities = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace, 
        identify: function(obj) { return obj.value; },
        prefetch: { url: '<%= api_airports_path %>'} 
      });
      function citiesWithDefaults(q, sync) {
          if (q === '') {
            sync(cities.all().slice(0, 5)); 		  
          }else {
              cities.search(q, sync);
          }
        }
      cities.initialize();
      $('.city-suggestion').typeahead({
          hint: false,
          highlight:false,
          minLength: 0
          },
          {
          name: 'states',
          displayKey: 'value',
          source: citiesWithDefaults,
          templates: {
              suggestion: function (i) {
                  return '<p><i class="plane blue icon"></i>' + i.value + '</p>'
              }
          } 
      });
      $('.origin-field').on('typeahead:select', function (e, datum) {
          $('#origin').val(datum.code);        
      });
      $('.destination-field').on('typeahead:select', function (e, datum) {
          $('#destination').val(datum.code);        
      });
      //end of typeahead
  
    var calnedarIsExist = document.getElementsByClassName("datepicker-plot-area-inline-view").length;
    if (calnedarIsExist == 0) {

      var today_timestamp = Math.round((new Date()).getTime() / 1000);
       $("#date-picker").pDatepicker({
            maxDate: new persianDate().subtract('day', 1).valueOf(),
            dayPicker: {scrollEnabled: false},
            monthPicker: {scrollEnabled: false},
            persianDigit: true,
            format : "dddd - DD MMMM",
            /* format : "YYYY - MM - DD", */
            altFieldFormatter : function(unix){
                if (!unix) return '';
                var date =  new Date(unix);
                var day = date.getDate();
                if(day<10) {day = '0'+day};
                var month = date.getMonth() + 1;
                if(month<10) {month = '0'+month} ;
                var year = date.getFullYear();
                return year + '-' + month + '-' + day;
            },
            
            altField: '#date-picker-field',
            toolbox: {enabled:false},
            navigator: {
                enabled: true,
                text: {
                    btnNextText: ">",
                    btnPrevText: "<"
                }
            },
            autoClose: true,
            inline: false
        }); 
     }
    

    $('.ui.dropdown').dropdown('refresh');  
    // fix for turbolink does not show waiting modal after first time of form submit
    $("#flight_search").submit(function( event ) {$('.ui.basic.modal.waiting').modal('show');});
    }); 
</script>